# Python
backend/.venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
npm-debug.log*
yarn-error.log*

# Environment files
.env

# Database (optional – recommended)
backend/*.db

# OS
.DS_Store
Thumbs.db
node_modules
